<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272980221079-acfql9n7s80mkg4c07ishkag35vnt294.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272980221079-acfql9n7s80mkg4c07ishkag35vnt294</string>
	<key>API_KEY</key>
	<string>AIzaSyBT-A2OCMH7s7ECrn-3e19qMEWDzkbR9qw</string>
	<key>GCM_SENDER_ID</key>
	<string>272980221079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungnotibadges</string>
	<key>PROJECT_ID</key>
	<string>ungnotibadges</string>
	<key>STORAGE_BUCKET</key>
	<string>ungnotibadges.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272980221079:ios:514b97d234a62b8c8f5dd2</string>
</dict>
</plist>